#work{
    width: 100%;
    height: 100vh;
    padding: 8rem 13.33vmax;
    > h2{
        font: 700 2.5rem "Open Sans", sans-serif;
        width: fit-content;
        border-bottom: 1px solid ;
    }
}